
    .example-toolbar {
      background-color:black;
    }
  
    a {
      margin: 2px;
    }
   
    .logo{
      background-image: url('../../../assets/logo.webp');
      height: 90px;
      width: 90px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 0.2em;
      margin-top: 68px;
      padding: 0px;
    }


      .header-spacer{
        flex: 1 1 auto;
      }
    
    .mat-icon{
      vertical-align: middle;
      margin: 0 5px ;
    }
  
   
  
  .active-link{
    background-color: rgb(40, 42, 42);
  }